_data
_save
_test
/samsung/_data/
/samsung/_save/
/samsung/_saved/
logs
/dacon/1_news/_data/
/dacon/1_news/_save/
/dacon/1_news/_saved/
/dacon/2_climate/_data/
/dacon/2_climate/_save/
bert_ckpt
data_in